<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="30">
     <Properties>
       <Property name="LOG_FILE">log/springboot_demo.log</Property>
       <Property name="CONSOLE_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</Property>
       <Property name="FILE_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${LOG_FILE}"
                     filePattern="log/$${date:yyyy-MM}/wiscom_navigation-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <SizeBasedTriggeringPolicy size="200MB"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef  ref="Console"/>
            <AppenderRef  ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>